.weather-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  margin: 50px auto;
  max-width: 650px;
  padding: 20px;
  border: 1px;
  border-radius: 10px;
}

/* Header section - pick up the city */
.navigation-items {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;
    text-decoration: none;
}
.navigation-item {
  display: inline;
  margin: 0 20px 0 0;
  text-decoration: none;
  ;
}

.noUnderline {
  text-decoration: none;
}

/* Search section */
.searchWeather {
  text-align: center;
}

input[type=text] {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .08);
  height: 30px;
  outline: 0;
  width: 300px;
  max-width: 300px;
  padding: 3px;
 
  margin-right: 5px;
}

.customForm {
    display: inline-block;
    margin-top: 0em;
    max-height: 36px;
}
.customButton {
  display: inline-block;
  margin: 1px 5px;
}

/* Weather summary section */
.cityName {
  font-size: 50px;
  font-weight: 500;
}
.weatherIcon {
  font-size: 20px;
}

.weather-summary {
  margin: 25px auto;
}
.weather-summary-header {
  text-align: left;
  margin: 20px auto;
}
.calendarAndDescription {
  text-align: right;
  font-size: 20px;
}
.weatherDescription::first-letter {
  text-transform: uppercase;
}



/* Weather summary section - footer left side */
.weather-summary-footer {
  margin: 20px auto;
}

.left-section {
  text-align: left;
}
.right-section {
  text-align: right;
  font-size: 20px;
}
.weatherIcon {
  margin-right: 10px;
  margin-top: 5px;
  float: left!important;;
}
.mainTemp {
    color: #333;
    float: left;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    padding-left: 10px;
  }

.tempSign {
    color: #333;
    float: left;
    font-size: 25px;
    line-height: 1.5;
  
}


/* Forecast section */

/* .forecast {
  margin: 30px auto 10px auto;
} */

.col-sm-2 {
  margin: 0 auto;
}

.customPadding {
  display: block;
  margin: 0px;
padding: 0;
padding-left: 0;
  text-align: center;
  list-style-type: none;
  list-style-position: inside;
}


.forecastIcon {
  font-size: 5px;
}

li {
  text-align: center;
}

.minTemp {
opacity: 0.9;
}
.maxTemp {
  font-weight: bolder;
}


.loading {
  display: block;
  margin: 200px auto;
  font-size: 100px;
  text-align: center;
}